body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

header {
    background-color: rgb(18, 18, 18);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(41, 111, 202, 0.541);
    gap: 0.5rem;
    z-index: 1000;
}

#stockInput {
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 1rem;
    background: white;
    color: #111827;
    width: 20%;
}

#searchBtn {
    background-color: #0078ff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#searchBtn:hover {
    background-color: #0064d6;
}

#sidebar {
  position: fixed; /* or absolute, depending on your layout */
  z-index: 2000; /* higher than header */
}
