/* Sidebar default hidden (collapsed) */
.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background: #222;
    padding-top: 20px;
    transform: translateX(-100%);   /* Hidden off-screen */
    transition: transform 0.3s ease;
    z-index: 3000;
}

/* When open */
.sidenav.open {
    transform: translateX(0);
}

.toggle-btn {
    position: fixed;
    top: 1%;
    left: 1%;
    font-size: 170%;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 4000;   
}


.menu a {
    display: block;
    color: white;
    margin-top: 15%;
    padding: 5% 10%;
    text-decoration: none;
}
