:root {
    --bg-color: #ffffff;
    --text-color: rgb(0, 0, 0);
    --navbar-bg: #f0f0f0;
    --link-hover: #ddd;
}

body.dark-theme {
    --bg-color: rgba(18, 18, 18, 0.68);
    --text-color: #ffffff;
    --navbar-bg: #333;
    --link-hover: #575757;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-bg);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.navbar .site-name {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    flex-shrink: 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-links a:hover {
    background-color: var(--link-hover);
}

.theme-toggle {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        justify-content: flex-start;
        width: 100%;
    }

    .nav-links a {
        padding: 10px;
        width: 100%;
        text-align: left;
    }
}


@media (max-width: 480px) {
    .site-name {
        font-size: 1rem;
    }

    .nav-links a {
        font-size: 0.9rem;
    }

    .theme-toggle {
        font-size: 1rem;
    }
}
